.customization {
    .head-left,
    .head-right {
        display: inline-block;
        vertical-align: top;
    }

    .head-right {
        position: absolute;
        right: 30px;
    }

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 16px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .trigger:hover {
        color: #108ee9;
    }

    .logo {
        height: 32px;
        background: #6ec5c3 url("/img/logo.png") no-repeat center;
        border-radius: 6px;
        margin: 16px;
    }

    .ant-layout-sider-collapsed .anticon {
        font-size: 16px;
    }

    .ant-layout-sider {
        background: #24465a;

        a {
            display: inline-block;
        }
    }

    .ant-layout-sider-collapsed .nav-text {
        display: none;
    }
}
.custom-head{
    padding-bottom: 20px;
    border-bottom: 1px solid #2cbfbe;
}
.custom-chart{
    padding: 20px 0;
}
.brt{
    border-top: 1px solid #2cbfbe;
}
.custom-empty{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.custom-label {
    width: 100%;
    margin: 8px 0;
    height: 28px;
    line-height: 28px;
    position: relative;

    .label-left {
        width: 100px;
        display: inline-block;

        .title {
            color: #2cbfbe;
        }
    }

    .label-right {
        display: inline-block;
    }
}
